
{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">DjangoApp</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quaerat dicta corrupti nesciunt, dolorem nostrum quidem qui ipsa, ipsam necessitatibus blanditiis cum explicabo omnis! Consequuntur, accusamus beatae! Officia ullam architecto libero modi est vero quidem asperiores nulla inventore iusto molestiae, expedita molestias deleniti fuga itaque praesentium aspernatur tempore eius harum vel? Iusto pariatur ullam eveniet odit nobis eaque ratione impedit officiis quibusdam ad, dolor quos, dignissimos est magni, praesentium corporis enim temporibus! Delectus dolorum vitae sequi sunt repellat eius doloremque earum id fuga odit, libero aliquam minima, rem accusamus amet corporis! Recusandae veritatis reiciendis explicabo vitae aliquid illo facere magni.</p>

        <div class="text-center">
            <a class="btn btn-info" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
        
    </section>
</div>


{% endblock %}